body {
  background: #3e505b !important;
  color: #efefef;
  background: '#def28d' !important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
  font-weight:300;
  font-size: large;
}
.btn{
  width: 100%;
  background-color: #004766;
  border-color: transparent;
  text-align: left;
}
a {
  color: coral !important;
}

.card{
  background: white;
  color: black;
  width: 100%;
  box-sizing:content-box;
}
.card-body{
  width: 100%;
  background-color: #3e505b;
  color: white;
  text-align: left;
}
*, ::after, ::before{
  box-sizing: inherit;
}
.login-card {
  color: black;
  height: 30rem;
  width: 30rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.btn-group button {
  background: #004766 !important;
  border: transparent !important;
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}
#signup {
  border-color: #cf9100;
  color: #cf9100;
}
#signup.hover{
  background: yellow;
}
.nam3 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  text-align: center;
}
.form-control {
  background: #848383 !important;
  border: transparent !important;
}

.btn-success {
  background: #004766 !important;
  border-color: #004766 !important;
  width: 100%;
}

.footer {
  height: 15px;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  color: #efefef;
}

@media only screen and (max-width: 600px) {
  .login-card {
    width: 100%;
  }
}