<!DOCTYPE html>
<html>

<head>
	<title>Help  - Lightning Chat</title>
  <meta name="description" content="Lightning Chat Help Center! How can we help you? · FAQ">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <link href="/bootstrap-5.1.3-dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">

	<link rel="stylesheet" href="styles/help.css">
	<link rel="shortcut icon" type="image/jpg" href="https://media.discordapp.net/attachments/761286162333171734/904834737888198726/unknown.png"
	/>
      <script src="/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>


      <script defer data-domain="lightningchat.live" src="https://plausible.yeetpc.com/js/plausible.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark" style='background-color:#004766; margin-bottom: 20%;'>
		<div class="container-fluid">
			<a style="color: #ffd166;" class="navbar-brand" href="/">Lightning ⚡</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
		     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="/chatrooms">Chatrooms</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="/newchatroom">New Chatroom</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="/help">Help</a>
                  </li>
		    </ul>
            </div>
         </div>
      </nav>
      <div class="nam3">

         <h1>Help!</h1>
         <p>This guide has various answers to some frequent questions. To ask questions to staff and the development team, go to our <a href="https://dsc.gg/lightningchat">discord server</a>!</p>
         <h2><u><a class="btn btn-primary" data-bs-toggle="collapse" href="#changePassword" role="button" aria-expanded="false" aria-controls="changePassword">How to Change your Password</a></u></h2>
          <div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="changePassword">
      <div class="card card-body">
        To change your password, go to Account in the dropdown on the top right corner of your screen and type your password in, you can then press save to save your changes!
      </div>
    </div>
  </div>
         <h2><u><a class="btn btn-primary" data-bs-toggle="collapse" href="#changeProfilePicture" role="button" aria-expanded="false" aria-controls="changeProfilePicture">How to Change your Profile Picture</a></u></h2>
             <div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="changeProfilePicture">
      <div class="card card-body">
      To change your profile picture, go to Account in the dropdown on the top right corner of your screen, then press choose file and select the image. Finally you can press submit to save the profile picture! Note: The image must be in the .jpg format!
      </div>
    </div>
  </div>
         <h2><u><a class="btn btn-primary" data-bs-toggle="collapse" href="#textingCommands" role="button" aria-expanded="false" aria-controls="textingCommands">Texting Commands</a></u></h2>
             <div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="textingCommands">
      <div class="card card-body">
       Lightning Chat uses markdown formatting for all messages, so markdown in your message can change the appearance. Here are some of the most useful commands for you to know:
       <br>
           <u><strong>Bold</strong></u> - > "**text**" Ex. **This is bold** <br>
           <u><strong>Italicize</strong></u> - > "*text*" Ex. *This is italicized* <br>
           <u><strong>Big Text</strong></u> - > "# text" Ex. # This text is big, you know what, now that I'm thinking about it, this may be a bit too big<br>
           <u><strong>Medium Text</strong></u> - > "### text" Ex. ### This is medium text, you know, pretty average sizing <br>
           <u><strong>Small Text</strong></u> - > "###### text" Ex. ###### This is really small text, not sure if you can read it, but its totally fine! <br>
           <u><strong>Hidden Link</strong></u> - > "[Text](URL)" Ex. [Lightning Chat](https://www.lightningchat.live) <br>
           <u><strong>Code</strong></u> - > "``Text``" Ex. ``Cool, I can code now!`` <br>
           <p>For more examples of formatting, you can go <a href="https://www.markdownguide.org/basic-syntax/#overview">here</a> or <a href="https://www.markdownguide.org/extended-syntax/#overview">here</a>!</p>
      </div>
    </div>
  </div>
         
         <h2><u><a class="btn btn-primary" data-bs-toggle="collapse" href="#createChatroom" role="button" aria-expanded="false" aria-controls="createChatroom">How to Create a Chatroom</a></u></h2>
             <div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="createChatroom">
      <div class="card card-body">
       To create a chatroom, first press new chatroom in the navigation bar at the top. Then type the Name of the room, select if its a private room, needs a cursing filter, and if messages are deleted every 30 minutes.
      </div>
    </div>
  </div>
         <h2><u><a class="btn btn-primary" data-bs-toggle="collapse" href="#viewChatrooms" role="button" aria-expanded="false" aria-controls="viewChatrooms">How to View Other Chatrooms</a></u></h2>
             <div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="viewChatrooms">
      <div class="card card-body">
       To view other chatrooms, press chatrooms in the navigation bar at the top. Then you can press join to join the chatroom.
      </div>
    </div>
  </div>
  
         <h2><u><a class="btn btn-primary" data-bs-toggle="collapse" href="#enableNotifications" role="button" aria-expanded="false" aria-controls="enableNotifications">How to Enable Notifications</a></u></h2>
                      <div class="row">

         <div class="col">
    <div class="collapse multi-collapse" id="enableNotifications">
      <div class="card card-body">
      To enable notifications, first check to see if there's a button in the navigation bar above. If not, do ctrl+shift+r or cmd+shift+r, depend on what OS you are on, and then find the button at the top.
      </div>
    </div>
  </div>
         <h2><u><a class="btn btn-primary" data-bs-toggle="collapse" href="#downloadApp" role="button" aria-expanded="false" aria-controls="downloadApp">How to Download the Lightning Chat App</a></u></h2>
          <div class="row">

         <div class="col">
    <div class="collapse multi-collapse" id="downloadApp">
      <div class="card card-body">
  To download the app on iOS or iPadOS, go to lightningchat.live on Safari, then press the share button, scroll down and press Add to Home Screen.<br>To Download the app on Android, Windows, ChromeOS, or MacOS open a browser and go to lightningchat.live, then press the download button on the URL bar.
      </div>
    </div>
  </div>
      </div>
             
 
</div>
   </body>
</html>
